.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
}

.books-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.books-map-container {
  display: flex;
  width: 30%;
  padding: 0 20px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
  cursor: pointer;
}

.post-image {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

.image {
  width: 100px;
  padding-right: 20px;
}
